table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid #36454f;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: white;
}

th {
  background-color: rgba(255, 255, 255, 0.312);
  color: black;
}

td{
  background-color: white;
  color: black;
}

