.nav{
  padding: 10px 10%;
  background-color: #36454f;
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  
}

.subnav{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hover{
  position: absolute;
  background-color: #36454f;
  right: 14%;
  color: white;
  top:55px;
  padding: 5px;
}